<!doctype html>
<html lang="en">
  
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
    <body>
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" style="color: white;" href="#">HealthClub</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup"  [ngbCollapse]="isCollapsed">
                <div class="navbar-nav">
                  <a class="nav-link " aria-current="page" style="color: white;" [routerLink]="['/home']" >Home</a>
                  <a class="nav-link"  style="color: white;" [routerLink]="['/place_appointment']">Place Appointment</a>
                  <a class="nav-link" style="color: white;" [routerLink]="['/view_appointment']">View Appointment</a>
                  <a class="nav-link " style="color: white;" [routerLink]="['/contactUs']">Contact Us</a>
                </div>
              </div>
            </div>
          </nav>
        
    </body>
  
 
   
</html>
