<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  
  </head>
 <footer>
    <footer class="bg-dark text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase" style="color: white;">Useful Links</h5>
              <br>
              <ul class="list-unstyled mb-0">
                <li>
                  <a  class="text" style="color: white;" [routerLink]="['/home']">Home</a>
                </li>
                <li>
                  <a  class="text" style="color: white;" [routerLink]="['/place_appointment']">Place Appointment</a>
                </li>
                <li>
                  <a  class="text" style="color: white;" [routerLink]="['/view_appointment']">View Appointment</a>
                </li>
                <li>
                  <a  class="text" style="color: white;"  [routerLink]="['/contactUs']">Contact Us</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
      
            
      
            <!--Grid column-->
            <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase mb-0" style="color: white;">Contact</h5>
              <br>
              <ul class="list-unstyled">
                <li>
                  <span class="text" style="color: white;"><b>Company Address:</b> Happiest Mind Link Road, Electronic City Phase -1 , Bangalore</span>
                </li>
                <li>
                  <span  class="text" style="color: white;"><b>Company Email:</b> healthclubatwork@gmail.com</span>
                </li>
                <li>
                  <span  class="text" style="color: white;"><b>Company phone:</b> 987654321</span>
                </li>
                <li>
                  <span  class="text" style="color: white;"><b>Company fax: </b>+1800-212312 </span>
                </li>
              </ul>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-dark" >HealthClub.com</a>
        </div>
        <!-- Copyright -->
      </footer>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  
</html>

