<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body style="background-color: black;">
    <div style="height: 20px;"></div>
    
    <h1 class="col-md-6" style="color: white;">Place An Appointment</h1>
    <div style="height: 40px;"></div>
    <form #appointment = "ngForm" (ngSubmit) = "onClickSubmit(appointment.value)">
        <div class="form-row col-md-6">
        <div class="form-group col-md-4">
          <label for="name"  style="color: white;">Name</label>
          <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" placeholder="Enter your name" ngModel>
          
        </div>
        <div class="form-group col-md-4">
          <label for="age"  style="color: white;">Age</label>
          <input type="number" class="form-control" id="age" name="age" placeholder="Enter your Age" ngModel>
        </div>
    </div>
    <div class="form-row col-md-6">
        <div class="form-group col-md-4">
            <label for="email"  style="color: white;">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email" ngModel>
          </div>
          <div class="form-group col-md-4">
            <label for="mobile"  style="color: white;">Mobile Number</label>
            <input type="number" class="form-control" id="mobile" name="mobile" placeholder="Enter your number" ngModel>
          </div>
        </div>
          <div class="form-group col-md-6">
            <label for="address1"  style="color: white;">Address Line 1</label>
            <input type="text" class="form-control" id="address1" name="address1" placeholder="Enter Address line 1" ngModel>
          </div>
          <div class="form-group col-md-6">
            <label for="address2"  style="color: white;">Address Line 2</label>
            <input type="text" class="form-control" id="address2" name="address2" placeholder="Enter Address line 2" ngModel>
          </div>
          <div class="form-row col-md-6">
          <div class="form-group col-md-6">
            <label for="city"  style="color: white;">City</label>
            <input type="text" class="form-control" id="city" name="city" placeholder="Enter your City" ngModel>
          </div>
          <div class="form-group col-md-4">
            <label for="state"  style="color: white;">State</label>
            <input type="text" class="form-control" id="state" name="state" placeholder="Enter your State" ngModel>
          </div>
        </div>
        <div class="form-row col-md-6">
          <div class="form-group col-md-4">
            <label for="country"  style="color: white;">Country</label>
            <input type="text" class="form-control" id="country" name="country" placeholder="Enter your Country" ngModel>
          </div>
          <div class="form-group col-md-4">
            <label for="pincode"   style="color: white;">Pincode</label>
            <input type="number" class="form-control" id="pincode" name="pincode" placeholder="Enter your Pincode" ngModel>
          </div>
        </div>
          <div class="form-group col-md-6">
            <label for="trainer"  style="color: white;">Trainer Perference</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="trainer" id="trainer" value="Male"  ngModel>
                <label class="form-check-label" for="trainer"  style="color: white;">
                  Male
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="trainer" id="trainer" value="Female" ngModel>
                <label class="form-check-label" for="trainer"  style="color: white;">
                  Female
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="trainer" id="trainer" value="No Perference" ngModel>
                <label class="form-check-label" for="trainer"  style="color: white;">
                  No Perference
                </label>
              </div>
          </div>
          <div class="form-group col-md-6">
            <label for="physio"  style="color: white;">Do you need Physiotherapist</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="physio" id="physio" value="Yes"  ngModel>
                <label class="form-check-label" for="physio"  style="color: white;">
                  Yes
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="physio" id="physio" value="No" ngModel>
                <label class="form-check-label" for="physio"  style="color: white;">
                  No
                </label>
              </div>
             
          </div>
          <div class="form-group col-md-6">
            <label for="plan"  style="color: white;">Select Package</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="plan" id="plan" value="One time" (click)="toggle2()" ngModel>
                <label class="form-check-label" for="plan"  style="color: white;">
                  One time appointment(Rs. 500/-)
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="plan" id="plan" value="4 session per week" (click)="toggle()" ngModel>
                <label class="form-check-label" for="plan"  style="color: white;">
                  4 session per week(Rs. 400/- per session) 
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="plan" id="plan" value="5 session per week" (click)="toggle3()" ngModel>
                <label class="form-check-label" for="plan"  style="color: white;">
                    5 session per week(Rs. 300/- per session) 
                </label>
              </div>
          </div>
          <div class="form-group col-md-3">
            <label for="weeks"  style="color: white;">Weeks</label>
            <input type="number" class="form-control" id="weeks" name="weeks" placeholder="Enter Weeks" [disabled]="textBoxDisabled" (keyup)="onKey($event)" ngModel>
          </div>
          <div class="form-group col-md-3">
            <label for="amount"  style="color: white;">Amount</label>
            <input type="number" class="form-control" id="amount" name="amount" placeholder="Your Total bill"  [value]="amount" ngModel>
          </div>
        <br>
        <div class="form-row col-md-8">

            <div></div>
            <button type="submit" class="btn btn-primary "ngModel>Submit</button>
        </div>
        
      </form>
      <div style="height: 140px;"></div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
